/*error*/
.error{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error .imgContainer{
    width: 100%;
    height: 30rem;
}

.error .imgError{
    height: 100%;
    width: 100%;
    object-fit: contain;
}