.imageContainer{
    width: 100%;
    height: 12rem;
}

.imageContainer .image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.linksNoDeco{
    text-decoration: none;
    color: black;
}

.linksNoDeco:hover{
    text-decoration: none;
    color: black;
}

/*--------------------------Login page*/
.imgUserLoginContainer{
    width: 100%;
    height: 12rem;
}

.imgUserLoginContainer .imgUserLogin{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*--------------------------saveUser*/

.saveUserImgContainer{
    width: 100%;
    height: 20rem;
}

.saveUserImgContainer .saveUserImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*------------------------editPassUName*/

.imgPassUsernameEditContainer{
    width: 100%;
    height: 12rem;
}

.imgPassUsernameEditContainer .editPassUsernameImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*-------------------------detailProduct*/

#productDetail .favoriteButton i{
    font-size: 2rem;
}

#productDetail .favoriteButton i:hover{
    color: red;
}

.favoriteHeartRed {
    color:red;
}

#productDetail .favoriteButton{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
/*-------------------------editPersonDetails*/

.editPersonImageContainer{
    width: 100%;
    height: 15em;
}

.editPersonImageContainer .editPersonImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*-------------------------editImage*/

.editImageContainer{
    width: 100%;
    height: 25rem;
}

.editImageContainer .editImageOld{
    height: 100%;
    width: 100%;
    object-fit: contain;
}