.imageContainer{
    width: 100%;
    height: 12rem;
}

.imageContainer .image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*--------------------------Login page*/
.imgUserLoginContainer{
    width: 100%;
    height: 12rem;
}
 
.imgUserLoginContainer .imgUserLogin{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*--------------------------listAllProducts*/

.tableListAllPageProducts a{
    text-decoration: none;
    color: black;
}

/*--------------------------listAllCategories*/

.tableListAllPageCategory a{
    text-decoration: none;
    color: black;
}