.imageContainer{
    width: 100%;
    height: 12rem;
}

.imageContainer .image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*--------------------------Login page*/
.imgUserLoginContainer{
    width: 100%;
    height: 12rem;
}

.imgUserLoginContainer .imgUserLogin{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*--------------------------listAllProducts*/

.tableListAllPageProducts a{
    text-decoration: none;
    color: black;
}

/*--------------------------listAllCategories*/

.tableListAllPageCategory a{
    text-decoration: none;
    color: black;
}

/*--------------------------saveEditUser*/

.saveEditUserImgContainer{
    width: 100%;
    height: 20rem;
}

.saveEditUserImgContainer .saveEditUserImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#userForm  a {
    text-decoration: none;
    color: white;
}

/*------------------------editPassUName*/

.imgPassUsernameEditContainer{
    width: 100%;
    height: 12rem;
}

.imgPassUsernameEditContainer .editPassUsernameImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*-------------------------Index*/

.listCategoriesIndex a {
    text-decoration: none;
    color: black;
}