<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headAndScript :: head">
        <title>Page to see products in cart</title>
    </head>
    <body>
        <nav th:replace="layout/nav :: nav"></nav>

        <div th:replace="layout/alert :: alert"></div>


        <div class="container">
            <div th:unless="${products}">
                <h3>There are no products in the cart</h3>
            </div>
            <table class="table"  th:if="${products}">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">mark</th>
                        <th scope="col">price c/u</th>
                        <th scope="col">Quantity</th>
                         <th scope="col">Amount</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product:${products}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.mark}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.price*product.quantity}"></td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/cartC/delete/} + ${product.idProduct}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                    <span th:text="${totalAmount}"></span>
                </div>
        </div>


        <div th:replace="layout/headAndScript :: commonScript"></div>
    </body>
</html>
