<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headAndScript :: head">
        <title>Page to see products in cart</title>
    </head>
    <body>
        <nav th:replace="layout/nav :: nav"></nav>

        <div th:replace="layout/alert :: alert"></div>


        <div class="container">
            <div th:unless="${products}">
                <h3>There are no products in the cart</h3>
            </div>
            <table class="table table-hover"  th:if="${products}">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">mark</th>
                        <th scope="col">price c/u</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Image</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product:${products}" th:class="${product.notEnoughStock} ? 'table-danger' : '' ">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.mark}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.price*product.quantity}"></td>
                        <td>
                            <img th:if="${product.image}  and ${product.image!='' }"   th:src="@{'data:image/jpeg;charset=utf-8;base64,' + ${product.image}}"  th:alt="${product.image}" style="max-width: 40px"/>
                            <img th:unless="${product.image} and ${product.image!= '' }"   src="/img/productDefault.jpg"  alt="The product currently has no image" style="max-width: 40px"/>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/cartC/delete/} + ${product.idProduct}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class=" row">
                <div class="col-12">
                    <span class="h4" th:text="'Total amount= '+${totalAmount}"></span>
                </div>
                <div class="mt-3 col-12 col-md-3 d-grid">
                    <a sec:authorize="isAuthenticated()" class="btn btn-success " th:href="@{/cartC/auth/userPurchase}">
                        <span class="h3">Buy</span><i class="bi bi-check-all" style="font-size: 1.5rem;"></i>
                    </a>
                    <a sec:authorize="isAnonymous()"  class="btn btn-success " th:href="@{/cartC/noUserData}">
                        <span class="h3">Buy</span><i class="bi bi-check-all fa-lg" style="font-size: 1.5rem;"></i>
                    </a>
                </div>
            </div>
        </div>


        <div th:replace="layout/headAndScript :: commonScript"></div>
    </body>
</html>
