<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headAndScript :: head">
        <title>Page to see Product detail</title>
    </head>
    <body>
        <nav th:replace="layout/nav :: nav"></nav>

        <div th:replace="layout/alert :: alert"></div>

        <div class="container" id="productDetail">
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <div class="imageContainer"> 
                        <img th:if="${productDto.image}  and ${productDto.image!='' }"  class="image" th:src="@{'data:image/jpeg;charset=utf-8;base64,' + ${productDto.image}}"  th:alt="${producDto.name}"/>
                        <img th:unless="${productDto.image} and ${productDto.image!= '' }"   class="image" src="/img/productDefault.jpg"  alt="The product currently has no image"/>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header d-flex justify-content-around">
                            <h2 th:text="${productDto.name}"></h2>
                            <button class="favoriteButton"><i class="bi bi-suit-heart-fill"></i></button>
                        </div>
                        <div class="card-body d-grid gap-3">
                            <h4 class="card-title" th:text="'Price: ' + ${productDto.price}"/>
                            <h4 th:text="'Mark : ' + ${productDto.mark}"/>
                            <h5>Categories:</h5>
                            <ul class="categoryList">
                                <li th:each="category:${productDto.oldCategories}" th:text="${category.name}"></li>
                            </ul>
                            
                            <form th:action="@{/cartC/add}" method="POST" th:if="${!productDto.inCart}">
                                <input type="hidden" name="idProduct" th:value="${productDto.idProduct}">
                                <div class="row row-cols-auto">
                                    <div class="col">
                                        <select name="amountSelect" class="form-select amountSelect" >
                                            <option th:each="i: ${#numbers.sequence(1,productDto.stock)}"   th:text=" ${i}" th:value="${i}" /> 
                                        </select>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary"><i class="bi bi-cart-plus"></i></button>
                                    </div>
                                </div>
                            </form>
                            <span  th:if="${productDto.inCart}">This product is already in the cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div th:replace="layout/headAndScript :: commonScript"></div>
    </body>
</html>
