<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headAndScript :: head">
        <title>Index</title>
    </head>
    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Mark</th>
                        <th scope="col"> 
                            <a class="h6" th:href="@{/}+ 
                               '?pageNo=' + ${actualPage} +
                               '&sortField=precio
                               &sortDir=' + ${reverseSortDir}+ 
                               '&pageSize=' + ${pageSize}">#Precio</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product:${products}">
                        <td th:text="${product.idProduct}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.stock}"></td>
                        <td th:text="${product.Mark}"></td>
                        <td th:text="${product.Price}"></td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${totalPages > 1}" >
                <div> 
                    <div>
                        Total de elementos: [[${totalItems}]]
                    </div>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                            <li  th:class="${actualPage == 1 } ? 'page-item disabled' : 'page-item ' "> 
                                <a class="page-link"  th:href="@{/}+ 
                                   '?pageNo=' + ${actualPage-1} +
                                   '&sortField=' + ${sortField} +
                                   '&sortDir=' + ${sortDir}+ 
                                   '&pageSize=' + ${pageSize}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            
                            <li  th:class="${actualPage == i} ? 'page-item active' : 'page-item ' "  th:each="i: ${#numbers.sequence(1,totalPages)}">
                                <a class="page-link"  th:href="@{/}+ 
                                   '?pageNo=' + ${i} +
                                   '&sortField=' + ${sortField} +
                                   '&sortDir=' + ${sortDir}+ 
                                   '&pageSize=' + ${pageSize}">[[${i}]]</a>
                            </li>

                            <li  th:class="${actualPage == totalPages} ? 'page-item disabled' : 'page-item' " >
                                <a  class="page-link"  th:href="@{/}+ 
                                    '?pageNo=' + ${actualPage+1} +
                                    '&sortField=' + ${sortField} +
                                    '&sortDir=' + ${sortDir}+ 
                                    '&pageSize=' + ${pageSize}" >
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <div th:replace="layout/headAndScript :: commonScript"></div>

    </body>
</html>
