<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headAndScript :: head">
        <title>List all products</title>
    </head>
    <body>
        <nav th:replace="layout/nav :: nav"></nav>

        <div th:replace="layout/alert :: alert"></div>

        <div class="container mt-3">
            <table class="table tableListAllPageProducts">
                <thead>
                    <tr>
                        <th scope="col">
                            <a class="h6 linksNoDeco" th:href="@{/productC/listAllPage}+ '?pageNo=' + ${actualPage} +'&sortField=idProduct&sortDir=' + ${reverseSortDir}+ '&pageSize=' + ${pageSize}">#Id</a>
                        </th>
                        <th scope="col">
                            <a class="h6 linksNoDeco" th:href="@{/productC/listAllPage}+ '?pageNo=' + ${actualPage} +'&sortField=name&sortDir=' + ${reverseSortDir}+ '&pageSize=' + ${pageSize}">#Name</a>
                        </th>
                        <th scope="col">
                            <a class="h6 linksNoDeco" th:href="@{/productC/listAllPage}+ '?pageNo=' + ${actualPage} +'&sortField=stock&sortDir=' + ${reverseSortDir}+ '&pageSize=' + ${pageSize}">#Stock</a>
                        </th>
                        <th scope="col">
                            <a class="h6 linksNoDeco" th:href="@{/productC/listAllPage}+ '?pageNo=' + ${actualPage} +'&sortField=brand&sortDir=' + ${reverseSortDir}+ '&pageSize=' + ${pageSize}">#Brand</a>
                        </th>
                        <th scope="col"> <!--problema, dice que Product no tiene la propiedad price -->
                            <a class="h6 linksNoDeco" th:href="@{/productC/listAllPage}+ '?pageNo=' + ${actualPage} +'&sortField=price&sortDir=' + ${reverseSortDir}+ '&pageSize=' + ${pageSize}">#Precio</a>
                        </th>
                        <th scope="col">Image</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product:${products}">
                        <td th:text="${product.idProduct}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.stock}"></td>
                        <td th:text="${product.brand}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <img th:if="${product.image}  and ${product.image!='' }"   th:src="@{'data:image/jpeg;charset=utf-8;base64,' + ${product.image}}"  th:alt="${product.image}" style="max-width: 40px"/>
                            <img th:unless="${product.image} and ${product.image!= '' }"   src="/img/productDefault.jpg"  alt="The product currently has no image" style="max-width: 40px"/>
                        </td>
                        <td>
                            <form id="formDeleteProduct"  th:action="@{/productC/admin/deleteProd}" method="post">
                                <input name="idProduct" hidden="true" th:value="${product.idProduct}"> 
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                        </td>
                        <td>
                            <a class="btn btn-secondary linksNoDeco" th:href="@{/productC/admin/editPage/} + ${product.idProduct}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${totalPages > 1}" >
                <div> 
                    <div>
                        Total de elementos: [[${totalItems}]]
                    </div>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                            <li  th:class="${actualPage == 1 } ? 'page-item disabled' : 'page-item ' "> 
                                <a class="page-link"  th:href="@{/productC/listAllPage}+ 
                                   '?pageNo=' + ${actualPage-1} +
                                   '&sortField=' + ${sortField} +
                                   '&sortDir=' + ${sortDir}+ 
                                   '&pageSize=' + ${pageSize}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li  th:class="${actualPage == i} ? 'page-item active' : 'page-item ' "  th:each="i: ${#numbers.sequence(1,totalPages)}">
                                <a class="page-link"  th:href="@{/productC/listAllPage}+ 
                                   '?pageNo=' + ${i} +
                                   '&sortField=' + ${sortField} +
                                   '&sortDir=' + ${sortDir}+ 
                                   '&pageSize=' + ${pageSize}">[[${i}]]</a>
                            </li>

                            <li  th:class="${actualPage == totalPages} ? 'page-item disabled' : 'page-item' " >
                                <a  class="page-link"  th:href="@{/productC/listAllPage}+ 
                                    '?pageNo=' + ${actualPage+1} +
                                    '&sortField=' + ${sortField} +
                                    '&sortDir=' + ${sortDir}+ 
                                    '&pageSize=' + ${pageSize}" >
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div th:replace="layout/headAndScript :: commonScript"></div>
    </body>
</html>
