<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/headAndScript :: head">
        <title>userProfile page</title>
    </head>
    <body>
        <nav th:replace="layout/nav :: nav"></nav>

        <div th:replace="layout/alert :: alert"></div>
        
        <div class="container">
            <p th:text="${actualUser}"></p>
        </div>
        
        <div th:replace="layout/headAndScript :: commonScript"></div>
    </body>
</html>
